<h1 style ="text-align:center"> CSC 3220-001 </h1>
<h2 style ="text-align:center"> Exploratory Data Analysis: Netflix Recommender System </h2>
<h3 style ="text-align:center"> 11/22/2022 </h3>
<h4 style ="text-align:center"> Antonio Brown </h4>
<h4 style ="text-align:center"> Cade Kennedy </h4>
<h4 style ="text-align:center"> Christine Ong </h4>
<h4 style ="text-align:center"> Daniel Harnden </h4>
<h4 style ="text-align:center"> Shelby Smith </h4>

---

# Summary

In this Exploratory Analysis we will find patterns and relationships to use for reference when creating our Netflix movie recomendation system.

# Data Sources

Below we import the tools we need to work with the data such as:
        
        - pandas - for data analysis and manipulation
        - numpy - for working with arrays
        - matplotlib.pyplot - for interactive plots and simple cases of programmatic plot generation
        - searborn - for data visualization

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Next we read the cvs data we will be using in this report:
        
        - netflix1.csv 
               - https://www.kaggle.com/datasets/infamouscoder/dataset-netflix-shows
        - Netflix_Dataset_Movie.csv and Netflix_Dataset_Rating.csv
               - https://www.kaggle.com/datasets/rishitjavia/netflix-movie-rating-dataset

In [2]:
df = pd.read_csv("netflix1.csv")
df2 = pd.read_csv("Netflix_Dataset_Movie.csv")
df3 = pd.read_csv("Netflix_Dataset_Rating.csv")

# Exploratory Analysis

### Checking for Null Values

In [3]:
df[df.isnull()].count()
df2[df2.isnull()].count()
df3[df3.isnull()].count()

User_ID     0
Rating      0
Movie_ID    0
dtype: int64

We determine that none of the dataframes have null values, and we have chosen to continues on to merging th dataframes in order to see the relationships between all of the data.

### Merging the Dataframes

To start we merge the df2 and df3 dataframes containing "Netflix_Dataset_Movie.csv" and "Netflix_Dataset_Rating.csv" respectivly.

In [4]:
df_ratings = df2.merge(df3)

Next we merge the df_ratings dataframe from above, with the df dataframe containing "netflix1.csv" data, but first we change the names of the df_ratings columns to the ones that match the netflix rating to allow them to merge successfully.

In [5]:
df_ratings = df_ratings.rename(columns={"Name": "title", "Rating": "user_rating"})
df = pd.merge(df, df_ratings)

### Manipulating Data

Next we change Type to a Nominal variable "is_movie" where 0 is not a movie and 1 is a movie.

In [6]:
df["is_movie"] = [1 if i == "Movie" else 0 for i in df["type"]]

Next we convert the first item in "listed_in" to a new column "genres", we keep the first one because we assume it is the most important.

In [7]:
list_genres = []

for i in range(len(df)):
    list_genres.append(df["listed_in"].iloc[i].split(", ")[0])
    
df["genres"] = pd.Series(list_genres)

Next we remove the minutes units from all movies and remove times from anything not labled as a movie.

In [8]:
duration = []

for i in range(len(df)):
    if df["is_movie"].iloc[i]==1:
        duration.append(int(df["duration"].iloc[i][:-4]))
    else:
        duration.append(1)
        
df["duration"] = pd.Series(duration)

### Frequency Distributions

In [ ]:
plt.figure(figsize=(100, 50))
plt.hist(df["release_year"], bins = 16, edgecolor='white', linewidth=10)
plt.title('Number of Movies Released per 5 Years', fontsize = 150)
plt.tick_params(axis = 'both', which = 'major', labelsize = 75)
plt.xticks([i for i in range(1940, 2021, 5)])
plt.yticks([100000, 200000, 300000, 400000, 500000, 600000, 700000], ["100k", "200k", "300k", "400k", "500k", "600k", "700k"])
plt.xlabel("Year Released", fontsize = 150)
plt.ylabel("Number of Movies", fontsize = 150, rotation = 90)
plt.show()

In [ ]:
plt.figure(figsize=(100, 50))
plt.hist(df["duration"], bins = 30, edgecolor='white', linewidth=10)
plt.title('Number of Movies by Length', fontsize = 150)
plt.tick_params(axis = 'both', which = 'major', labelsize = 75)
plt.xticks([60, 80, 100, 120, 140, 160, 180, 200])
plt.yticks([50000, 100000, 150000, 200000, 250000, 300000, 350000, 400000], ["50k", "100k", "150k", "200k", "250k", "300k", "350k", "400k"])
plt.xlabel("Length of Movie (in minutes)", fontsize = 150)
plt.ylabel("Number of Movies", fontsize = 150, rotation = 90)
plt.xlim(60, 200)
plt.show()

In [ ]:
plt.figure(figsize=(100, 50))
values, bins, bars = plt.hist(df["is_movie"], bins=3)
plt.title('Number of T.V. Shows to Number of Movies', fontsize = 150)
plt.xticks([0.15, 0.5, 0.85], ["TV Shows", '', "Movies"], fontsize = 150)
plt.bar_label(bars, ["329,708", "", "1,991,734"], fontsize=150, color='black')
plt.tick_params(left = False, right = False , labelleft = False)
plt.show()

In [ ]:
plt.figure(figsize=(100, 50))
values, bins, bars = plt.hist(df["user_rating"], bins = 5, edgecolor='white', linewidth=10)
plt.title('Number of Movie Ratings (1 to 5 Stars)', fontsize = 150)
plt.bar_label(bars, ["1★: 96,324", "2★: 244,357", "3★: 716,807", "4★: 804,527", "5★: 459,427"], fontsize=150, color='black')
plt.tick_params(left = False, right = False , labelleft = False)
plt.show()

In [ ]:
country_count = df.groupby("country").count().sort_values("title", ascending = False)
plt.figure(figsize=(10, 10))
plt.pie(country_count["title"].iloc[0:30], autopct = lambda v: f'{v:.2f}%' if v > 2.5 else None, colors = ['#a9a9a9', '#2f4f4f', '#556b2f', '#228b22', '#8b0000', '#808000', '#483d8b', '#bdb76b', '#008b8b', '#00008b', '#7f007f', '#b03060', '#66cdaa', '#ff4500', '#ffa500', '#ffff00', '#00ff00', '#9400d3', '#00ff7f', '#dc143c', '#00ffff', '#00bfff', '#f4a460', '#0000ff', '#adff2f', '#ff00ff', '#fa8072', '#6495ed', '#dda0dd', '#90ee90', '#ff1493', '#7b68ee', '#afeeee', '#ee82ee', '#ffe4c4', '#ffb6c1'].reverse())
ax = plt.subplot()
plt.title('Movies Produced by Region', fontsize = 25)
ax.legend(country_count['title'].iloc[0:30].index, bbox_to_anchor=(1.1, 1.05))
plt.show()

In [ ]:
plt.figure(figsize=(10, 10))
plt.pie(df.groupby("genres").count().sort_values("title", ascending=False)["title"], autopct = lambda v: f'{v:.2f}%' if v > 2.5 else None, colors=['#a9a9a9', '#2f4f4f', '#556b2f', '#228b22', '#8b0000', '#808000', '#483d8b', '#bdb76b', '#008b8b', '#00008b', '#7f007f', '#b03060', '#66cdaa', '#ff4500', '#ffa500', '#ffff00', '#00ff00', '#9400d3', '#00ff7f', '#dc143c', '#00ffff', '#00bfff', '#f4a460', '#0000ff', '#adff2f', '#ff00ff', '#fa8072', '#6495ed', '#dda0dd', '#90ee90', '#ff1493', '#7b68ee', '#afeeee', '#ee82ee', '#ffe4c4', '#ffb6c1'])
ax = plt.subplot()
plt.title('Movies by Primary Genre', fontsize = 25)
ax.legend(df.groupby("genres").count().sort_values("title", ascending=False).index, bbox_to_anchor=(1.1, 1.05))
plt.show()

In [ ]:
plt.figure(figsize=(10,10))
plt.pie(df.groupby("rating").count().sort_values("title", ascending=False)["title"], autopct = lambda v: f'{v:.2f}%' if v > 2.5 else None, colors=['#a9a9a9', '#2f4f4f', '#556b2f', '#228b22', '#8b0000', '#808000', '#483d8b', '#bdb76b', '#008b8b', '#00008b', '#7f007f', '#b03060', '#66cdaa', '#ff4500', '#ffa500', '#ffff00', '#00ff00', '#9400d3', '#00ff7f', '#dc143c', '#00ffff', '#00bfff', '#f4a460', '#0000ff', '#adff2f', '#ff00ff', '#fa8072', '#6495ed', '#dda0dd', '#90ee90', '#ff1493', '#7b68ee', '#afeeee', '#ee82ee', '#ffe4c4', '#ffb6c1'])
ax = plt.subplot()
plt.title('Movies by MPAA Rating', fontsize = 25)
ax.legend(df.groupby("rating").count().sort_values("title", ascending=False).index, bbox_to_anchor=(1.1, 1.05))
plt.show()

### Correlation Heatmap

In [ ]:
f = plt.figure(figsize=(19, 15))
plt.matshow(df.corr(), fignum = f.number)
plt.xticks(range(df.select_dtypes(['number']).shape[1]), df.select_dtypes(['number']).columns, fontsize = 14, rotation = 45)
plt.yticks(range(df.select_dtypes(['number']).shape[1]), df.select_dtypes(['number']).columns, fontsize = 14)
cb = plt.colorbar()
cb.ax.tick_params(labelsize = 14)
plt.title('Correlation Matrix', fontsize = 16);

There are very few correlations between the data present in the correlation matrix, besides the obvious correlations (release_year and Year are duplicate variables, is_movie and duration correlate because only movies have a duration, Movie_ID and release_year correlate because Movie_ID increases linearly as movies release). Relationships between other variables are negligible, both positively and negatively.

### Simplifying Data

In [ ]:
# First we drop "show_id" and "Movie_ID" from the dataframe because the information is irrelevant
# We also drop "Year" due to the data being a duplicate of "release_year"
df.drop(["show_id", "Movie_ID", "Year"], axis = 1, inplace = True)

# Next we drop "date_added" because we assume that it does not correlate with "user_rating"
df.drop(["date_added"], axis = 1, inplace = True)

# Next we drop "type" because the information is a duplicate of "is_movie"
df.drop("type", axis = 1, inplace = True)

# Finally we remove all rows where "is_movie" is equal to 0, leaving only movies in the dataframe
# We also drop the column "is_movie" due to it only being true and therefore redundant
df = df[df["is_movie"] == 1]
df.drop(["is_movie"], axis = 1, inplace = True)

## Conclusion

The data available in the datasets used for this exploratory analysis provides us with various data points that can be used in developing a recommender system. Since the data skews heavily towards movies, T.V. shows were not going to be properly recommended, so were subsequently dropped from the data frame. The most important data gathered are the "genre," "rating," "region," which can be used to recommend highly rated movies of similar genres and from similar regions. No unexpected patterns or relationships were found in this exploratory analysis, and neither were any anomalies or outliers.

## NOTE: Give us a conclusion Daniel and Cade